<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="1" name="Web Administration" >


	<listeners>
		<listener class-name="test.java.blackMagic.GenerateXmlForTestRailListener"/>
	</listeners>

	<!--<suite-files>-->

        <!--<suite-file path="src/suites/testState_oneTest.xml"/>-->

	<!--</suite-files>-->
</suite>
